{% set data = load_data(path='data/experiences.toml') %}

<section id='experiences'>
  <h2 class='title'>{{ data.title | safe }}</h2>
  <div class='experiences'>
    {% for key in data.experiences %}
      <article class='experience'>
        <h3 class='name'>{{ key.name | safe }}</h3>
        <div class='org'>{{ key.org_name | safe }}</div>
        <div class='time'><time>{{ key.date_start | safe }}</time> - <time>{{ key.date_end | safe }}</time></div>
      </article>
    {% endfor %}
  </div>
</section>
