<div id="page-control">
  <a href="#" id="prev-page" class="btn-icon" aria-label="Página anterior">
    <svg class="icon icon-chevron-left" aria-hidden="true" focusable="false"><use href="#icon-chevron-left"></use></svg>
  </a>
  <a href="#" id="next-page" class="btn-icon" aria-label="Próxima página">
    <svg class="icon icon-chevron-right" aria-hidden="true" focusable="false"><use href="#icon-chevron-right"></use></svg>
  </a>
  <a href="#" id="to-top" class="btn-icon" aria-label="Ir para topo">
    <svg class="icon icon-chevron-up" aria-hidden="true" focusable="false"><use href="#icon-chevron-up"></use></svg>
  </a>
</div>
