<div id='section-control' aria-label='Controle de seção'>
  <button class='btn-icon prev' tabindex='-1' aria-label='Seção anterior'>
    <svg class='icon icon-chevron-left' aria-hidden='true' focusable='false' style='max-width: 24px; max-height: 24px; fill: currentcolor'>
      <use href='#icon-chevron-left'></use>
    </svg>
  </button>
  <button class='btn-icon next' tabindex='-1' aria-label='Próxima seção'>
    <svg class='icon icon-chevron-right' aria-hidden='true' focusable='false' style='max-width: 24px; max-height: 24px; fill: currentcolor'>
      <use href='#icon-chevron-right'></use>
    </svg>
  </button>
  <button class='btn-icon top' tabindex='-1' aria-label='Ir para topo'>
    <svg class='icon icon-chevron-up' aria-hidden='true' focusable='false' style='max-width: 24px; max-height: 24px; fill: currentcolor'>
      <use href='#icon-chevron-up'></use>
    </svg>
  </button>
</div>
