{% set data = load_data(path='data/skills.toml') %}

<section id="skills">
  <h2 class="title">{{ data.title }}</h2>
  <div>
    <div>
      <h3 class="name">Sistemas Operacionais</h3>
      <ul class="skills">
        {% for item in data.sos %}
          <li class="skill">{{ item }}</li>
        {% endfor %}
      </ul>
    </div>

    <div>
      <h3 class="name">Softwares</h3>
      <ul class="skills">
        {% for item in data.softwares %}
          <li class="skill">{{ item }}</li>
        {% endfor %}
      </ul>
    </div>

    <div>
      <h3 class="name">Linguagens</h3>
      <ul class="skills">
        {% for item in data.languages %}
          <li class="skill">{{ item }}</li>
        {% endfor %}
      </ul>
    </div>

    <div>
      <h3 class="name">Sistemas</h3>
      <ul class="skills">
        {% for item in data.systems %}
          <li class="skill">{{ item }}</li>
        {% endfor %}
      </ul>
    </div>

    <div>
      <h3 class="name">Acessibilidade</h3>
      <ul class="skills">
        {% for item in data.accessibles %}
          <li class="skill" v-for="accessible in skills.accessibles" :key="accessible.name">{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
