// https://themer.dev
// https://www.materialui.co/colors
// https://www.carbondesignsystem.com/guidelines/color/overview
// Accent: Light Blue 600

:root {
  // shade
  --shade-h: 0;
  --shade-s: 0%;

  // accent
  --accent-h: 200;
  --accent-s: 100%;
  --accent-l: 45%;

  // body
  --body-bg: hsl(var(--shade-h) var(--shade-s) 100%);
  --body-fg: hsl(var(--shade-h) var(--shade-s) 50%);

  // scroll
  --scroll-bg: hsl(var(--shade-h) var(--shade-s) 90%);
  --scroll-thumb-bg: hsl(var(--shade-h) var(--shade-s) 70%);
  --scroll-thumb-bg-hover: hsl(var(--shade-h) var(--shade-s) 60%);
  --scroll-thumb-bg-active: hsl(var(--shade-h) var(--shade-s) 50%);

  // selection
  --selection-bg: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 40%));
  --selection-fg: hsl(var(--shade-h) var(--shade-s) 40%);

  // nav
  --nav-bg: hsl(var(--shade-h) var(--shade-s) 100%);

  // menu
  --logo-fg: hsl(var(--shade-h) var(--shade-s) 40%);
  --menu-fg: hsl(var(--shade-h) var(--shade-s) 60%);
  --menu-fg-hover: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
  --menu-fg-active: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
  --menu-ripple-bg: hsl(var(--shade-h) var(--shade-s) 90%);

  // section
  --section-title-fg: hsl(var(--shade-h) var(--shade-s) 40%);

  // skill
  --skill-bg: hsl(var(--shade-h) var(--shade-s) 95%);
  --skill-fg: hsl(var(--shade-h) var(--shade-s) 50%);

  // button
  --btn-bg: hsl(var(--shade-h) var(--shade-s) 95%);
  --btn-fg: hsl(var(--shade-h) var(--shade-s) 70%);
  --btn-hover-bg: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
  --btn-hover-fg: hsl(var(--shade-h) var(--shade-s) 100%);
  --btn-active-bg: hsl(var(--accent-h) var(--accent-s) calc(var(--accent-l) - 5%));
  --btn-active-fg: hsl(var(--shade-h) var(--shade-s) 100%);

  // =dark

  .dark {
    // body
    --body-bg: hsl(var(--shade-h) var(--shade-s) 10%);
    --body-fg: hsl(var(--shade-h) var(--shade-s) 90%);

    // scroll
    --scroll-bg: hsl(var(--shade-h) var(--shade-s) 15%);
    --scroll-thumb-bg: hsl(var(--shade-h) var(--shade-s) 25%);
    --scroll-thumb-bg-hover: hsl(var(--shade-h) var(--shade-s) 30%);
    --scroll-thumb-bg-active: hsl(var(--shade-h) var(--shade-s) 25%);

    // selection
    --selection-bg: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
    --selection-fg: hsl(var(--shade-h) var(--shade-s) 10%);

    // nav
    --nav-bg: hsl(var(--shade-h) var(--shade-s) 20%); 

    // menu
    --logo-fg: hsl(var(--shade-h) var(--shade-s) 90%);
    --menu-fg: hsl(var(--shade-h) var(--shade-s) 90%);
    --menu-fg-hover: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
    --menu-fg-active: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
    --menu-ripple-bg: hsl(var(--shade-h) var(--shade-s) 40%);

    // section
    --section-title-fg: hsl(var(--shade-h) var(--shade-s) 90%);

    // skill
    --skill-bg: hsl(var(--shade-h) var(--shade-s) 15%);
    --skill-fg: hsl(var(--shade-h) var(--shade-s) 90%);

    // org
    --org-fg: hsl(var(--shade-h) var(--shade-s) 50%);

    // button
    --btn-bg: hsl(var(--shade-h) var(--shade-s) 15%);
    --btn-fg: hsl(var(--shade-h) var(--shade-s) 90%);
    --btn-hover-bg: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
    --btn-hover-fg: hsl(var(--shade-h) var(--shade-s) 90%);
    --btn-active-bg: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 10%));
    --btn-active-fg: hsl(var(--shade-h) var(--shade-s) 90%);

    // section
    --section-title-fg: hsl(var(--shade-h) var(--shade-s) 90%);

    .avatar {
      opacity: 0.75;
    }
  }

  // =contrast

  .contrast {
    // body
    --body-bg: white;
    --body-fg: black;

    // scroll
    --scroll-bg: hsl(0 0% 90%);
    --scroll-thumb-bg: black;
    --scroll-thumb-bg-hover: blue;
    --scroll-thumb-bg-active: purple;

    // selection
    --selection-bg: blue;
    --selection-fg: white;

    // nav
    --nav-bg: white;

    // menu
    --logo-fg: black;
    --menu-fg: black;
    --menu-bg-hover: blue;
    --menu-fg-hover: white;
    --menu-bg-active: purple;
    --menu-fg-active: white;
    --menu-ripple-bg: transparent;

    // section
    --section-title-fg: black;

    // skill
    --skill-bg: black;
    --skill-fg: white;

    // button
    --btn-bg: black;
    --btn-fg: white;
    --btn-hover-bg: blue;
    --btn-hover-fg: white;
    --btn-active-bg: purple;
    --btn-active-fg: white;
  }

  // =dark.contrast

  .dark.contrast {
    // body
    --body-bg: black;
    --body-fg: white;

    // scroll
    --scroll-bg: hsl(0 0% 10%);
    --scroll-thumb-bg: white;
    --scroll-thumb-bg-hover: aqua;
    --scroll-thumb-bg-active: yellow;

    // selection
    --selection-bg: yellow;
    --selection-fg: black;

    // nav
    --nav-bg: black;

    // menu
    --logo-fg: white;
    --menu-fg: white;
    --menu-bg-hover: aqua;
    --menu-fg-hover: black;
    --menu-bg-active: yellow;
    --menu-fg-active: black;

    // section
    --section-title-fg: white;

    // skill
    --skill-bg: white;
    --skill-fg: black;

    // button
    --btn-bg: white;
    --btn-fg: black;
    --btn-hover-bg: aqua;
    --btn-hover-fg: black;
    --btn-active-bg: yellow;
    --btn-active-fg: black;
  }
}
