// https://themer.dev
// https://www.materialui.co/colors
// https://www.carbondesignsystem.com/guidelines/color/overview
// https://tailwind.simeongriggs.dev/brand
// https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/

:root {
  // neutral
  --neutral5: #f2f2f2;
  --neutral10: #e6e6e6;
  --neutral20: #cccccc;
  --neutral30: #b3b3b3;
  --neutral40: #999999;
  --neutral50: #808080;
  --neutral60: #666666;
  --neutral70: #4d4d4d;
  --neutral80: #333333;
  --neutral90: #1a1a1a;

  // primary
  --primary5: #e5f6ff;
  --primary10: #c7ecff;
  --primary20: #8fdaff;
  --primary30: #57c7ff;
  --primary40: #1fb4ff;
  --primary50: #0099e6;
  --primary60: #007ab8;
  --primary70: #005c8a;
  --primary80: #003d5c;
  --primary90: #001f2e;

  // body
  --body-bg: white;
  --body-fg: var(--neutral50);

  // scroll
  --scroll-bg: var(--neutral10);
  --scroll-thumb-bg: var(--neutral30);
  --scroll-thumb-bg-hover: var(--neutral40);
  --scroll-thumb-bg-active: var(--neutral50);

  // selection
  --selection-bg: var(--primary20);
  --selection-fg: var(--neutral60);

  // nav
  --nav-bg: white;
  --logo-fg: var(--neutral60);
  --menu-fg: var(--neutral40);
  --menu-fg-hover: var(--primary50);
  --menu-fg-active: var(--primary50);
  --menu-ripple-bg: var(--neutral10);

  // button
  --btn-bg: var(--neutral5);
  --btn-fg: var(--neutral50);
  --btn-hover-bg: var(--primary50);
  --btn-hover-fg: white;
  --btn-active-bg: var(--primary40);
  --btn-active-fg: white;

  // main
  --title-fg: var(--neutral60);
  --subtitle-fg: var(--neutral40);

  .dark {
    // body
    --body-bg: var(--neutral90);
    --body-fg: var(--neutral10);

    // scroll
    --scroll-bg: var(--neutral80);
    --scroll-thumb-bg: var(--neutral70);
    --scroll-thumb-bg-hover: var(--neutral60);
    --scroll-thumb-bg-active: var(--neutral70);

    // selection
    --selection-bg: var(--primary50);
    --selection-fg: var(--neutral90);

    // nav
    --nav-bg: var(--neutral90); 
    --logo-fg: var(--neutral10);
    --menu-fg: var(--neutral20);
    --menu-fg-hover: var(--primary50);
    --menu-fg-active: var(--primary50);
    --menu-ripple-bg: var(--neutral40);

    // button
    --btn-bg: var(--neutral80);
    --btn-fg: var(--neutral10);
    --btn-hover-bg: var(--primary60);
    --btn-hover-fg: white;
    --btn-active-bg: var(--primary50);
    --btn-active-fg: white;

    // main
    --title-fg: var(--neutral10);
    --subtitle-fg: var(--neutral50);
  }

  .contrast {
    a {
      transition: none;
    }

    // body
    --body-bg: white;
    --body-fg: black;

    // scroll
    --scroll-bg: var(--neutral20);
    --scroll-thumb-bg: black;
    --scroll-thumb-bg-hover: blue;
    --scroll-thumb-bg-active: purple;

    // selection
    --selection-bg: blue;
    --selection-fg: white;

    // nav
    --nav-bg: white;

    // menu
    --logo-fg: black;
    --menu-fg: black;
    --menu-bg-hover: blue;
    --menu-fg-hover: white;
    --menu-bg-active: purple;
    --menu-fg-active: white;
    --menu-ripple-bg: transparent;

    // button
    --btn-bg: black;
    --btn-fg: white;
    --btn-hover-bg: blue;
    --btn-hover-fg: white;
    --btn-active-bg: purple;
    --btn-active-fg: white;

    // main
    --title-fg: black;
    --subtitle-fg: black;
  }

  .dark.contrast {
    // body
    --body-bg: black;
    --body-fg: white;

    // scroll
    --scroll-bg: var(--neutral80);
    --scroll-thumb-bg: white;
    --scroll-thumb-bg-hover: aqua;
    --scroll-thumb-bg-active: yellow;

    // selection
    --selection-bg: yellow;
    --selection-fg: black;

    // nav
    --nav-bg: black;

    // menu
    --logo-fg: white;
    --menu-fg: white;
    --menu-bg-hover: aqua;
    --menu-fg-hover: black;
    --menu-bg-active: yellow;
    --menu-fg-active: black;

    // button
    --btn-bg: white;
    --btn-fg: black;
    --btn-hover-bg: aqua;
    --btn-hover-fg: black;
    --btn-active-bg: yellow;
    --btn-active-fg: black;

    // main
    --title-fg: white;
    --subtitle-fg: white;

  }
}
