// https://themer.dev
// https://www.materialui.co/colors
// https://www.carbondesignsystem.com/guidelines/color/overview
// https://tailwind.simeongriggs.dev/brand
// https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/

:root {
  // shade
  --shade50: #f2f2f2;
  --shade100: #e6e6e6;
  --shade200: #cccccc;
  --shade300: #b3b3b3;
  --shade400: #999999;
  --shade500: #808080;
  --shade600: #666666;
  --shade700: #4d4d4d;
  --shade800: #333333;
  --shade900: #1a1a1a;

  // accent
  --accent50: #e5f6ff;
  --accent100: #c7ecff;
  --accent200: #8fdaff;
  --accent300: #57c7ff;
  --accent400: #1fb4ff;
  --accent500: #0099e6;
  --accent600: #007ab8;
  --accent700: #005c8a;
  --accent800: #003d5c;
  --accent900: #001f2e;

  // body
  --body-bg: white;
  --body-fg: var(--shade500);

  // scroll
  --scroll-bg: var(--shade100);
  --scroll-thumb-bg: var(--shade300);
  --scroll-thumb-bg-hover: var(--shade400);
  --scroll-thumb-bg-active: var(--shade500);

  // selection
  --selection-bg: var(--accent200);
  --selection-fg: var(--shade600);

  // nav
  --nav-bg: white;
  --logo-fg: var(--shade600);
  --menu-fg: var(--shade400);
  --menu-fg-hover: var(--accent500);
  --menu-fg-active: var(--accent500);
  --menu-ripple-bg: var(--shade100);

  // button
  --btn-bg: var(--shade50);
  --btn-fg: var(--shade500);
  --btn-hover-bg: var(--accent500);
  --btn-hover-fg: white;
  --btn-active-bg: var(--accent400);
  --btn-active-fg: white;

  // main
  --title-fg: var(--shade600);
  --subtitle-fg: var(--shade400);

  .dark {
    // body
    --body-bg: var(--shade900);
    --body-fg: var(--shade100);

    // scroll
    --scroll-bg: var(--shade800);
    --scroll-thumb-bg: var(--shade700);
    --scroll-thumb-bg-hover: var(--shade600);
    --scroll-thumb-bg-active: var(--shade700);

    // selection
    --selection-bg: var(--accent500);
    --selection-fg: var(--shade900);

    // nav
    --nav-bg: var(--shade900); 
    --logo-fg: var(--shade100);
    --menu-fg: var(--shade200);
    --menu-fg-hover: var(--accent500);
    --menu-fg-active: var(--accent500);
    --menu-ripple-bg: var(--shade400);

    // button
    --btn-bg: var(--shade800);
    --btn-fg: var(--shade100);
    --btn-hover-bg: var(--accent600);
    --btn-hover-fg: white;
    --btn-active-bg: var(--accent500);
    --btn-active-fg: white;

    // main
    --title-fg: var(--shade100);
    --subtitle-fg: var(--shade500);
  }

  .contrast {
    a {
      transition: none;
    }

    // body
    --body-bg: white;
    --body-fg: black;

    // scroll
    --scroll-bg: var(--shade200);
    --scroll-thumb-bg: black;
    --scroll-thumb-bg-hover: blue;
    --scroll-thumb-bg-active: purple;

    // selection
    --selection-bg: blue;
    --selection-fg: white;

    // nav
    --nav-bg: white;

    // menu
    --logo-fg: black;
    --menu-fg: black;
    --menu-bg-hover: blue;
    --menu-fg-hover: white;
    --menu-bg-active: purple;
    --menu-fg-active: white;
    --menu-ripple-bg: transparent;

    // button
    --btn-bg: black;
    --btn-fg: white;
    --btn-hover-bg: blue;
    --btn-hover-fg: white;
    --btn-active-bg: purple;
    --btn-active-fg: white;

    // main
    --title-fg: black;
    --subtitle-fg: black;
  }

  .dark.contrast {
    // body
    --body-bg: black;
    --body-fg: white;

    // scroll
    --scroll-bg: var(--shade800);
    --scroll-thumb-bg: white;
    --scroll-thumb-bg-hover: aqua;
    --scroll-thumb-bg-active: yellow;

    // selection
    --selection-bg: yellow;
    --selection-fg: black;

    // nav
    --nav-bg: black;

    // menu
    --logo-fg: white;
    --menu-fg: white;
    --menu-bg-hover: aqua;
    --menu-fg-hover: black;
    --menu-bg-active: yellow;
    --menu-fg-active: black;

    // button
    --btn-bg: white;
    --btn-fg: black;
    --btn-hover-bg: aqua;
    --btn-hover-fg: black;
    --btn-active-bg: yellow;
    --btn-active-fg: black;

    // main
    --title-fg: white;
    --subtitle-fg: white;

  }
}
