[aria-label="Controls"] {
  #page-control {
    grid-area: page;
    display: flex;
    gap: 8px;
    line-height: 0;
  }

  #color-control {
    grid-area: color;
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 0;
  }
}

@media (max <= 960px) {
  [aria-label="controls"] {
    display: none;
  }
}
