body {
  display: grid;
  grid-template-areas:
    'menu main controls'
    'menu main controls'
    'footer main controls';
  grid-template-columns: auto 1fr auto;
  max-width: 1200px;
  margin-inline: auto;
}

header {
  grid-area: menu;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-self: start;
  padding: var(--size-3);
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  position: relative;
  max-width: 720px;
  padding: 0 var(--size-3) var(--size-3);
}

aside {
  grid-area: controls;
  position: sticky;
  top: 0;
  display: grid;
  grid-template: 'color' 'gap' 'page';
  grid-template-rows: auto minmax(8px, 1fr) auto;
  height: 100vh;
  justify-items: end;
  padding: var(--size-3);

  #section-control {
    grid-area: page;
    display: flex;
    gap: 8px;
    line-height: 0;

    .prev {
      order: 1;
    }

    .next {
      order: 2;
    }

    .top {
      order: 3;
    }
  }

  #color-control {
    grid-area: color;
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 0;
  }
}

footer {
  grid-area: footer;
  display: flex;
  align-self: end;
  position: sticky;
  bottom: 0;
  padding: var(--size-3);

  @media (height < 520px) {
    display: none;
  }
}

@media (width <= 720px) {
  body {
    grid-template-areas: 'main main main' 'menu menu menu';
    grid-template-columns: 1fr auto;
    place-content: space-between;
    gap: var(--size-3);
    height: 100dvh;
  }

  header {
    position: sticky;
    top: auto;
    bottom: 0;
    display: flex;
    align-items: center;
    min-width: 100%;
    height: 56px;
    padding: 0;
    background: var(--nav-bg);
    border-top: 1px solid var(--nav-border-color);
    z-index: 1;
  }

  main {
    min-width: 100%;
    gap: var(--size-3);
    padding: 0 var(--size-3);
  }

  aside, footer {
    display: none;
  }
}
