#app {
  display: grid;
  grid-template-areas:
    'menu main controls'
    'menu main controls'
    'menu main controls';
  grid-template-columns: auto 1fr auto;
  gap: var(--gap3);
  max-width: 1200px;
  margin-inline: auto;
}

[aria-label="Controls"] {
  grid-area: controls;
  position: sticky;
  top: 0;
  display: grid;
  grid-template: 'color' 'gap' 'page';
  grid-template-rows: auto minmax(8px, 1fr) auto;
  height: 100vh;
  justify-items: end;
  padding: var(--gap2) var(--gap2) var(--gap2) 0;
}

main {
  grid-area: main;
  position: relative;
  max-width: 720px;

  section {
    display: none;
    margin-bottom: var(--gap3);
    opacity: 0;

    > div > div {
      margin-bottom: var(--gap3);
    }

    > div > div:last-child {
      margin-bottom: 0;
    }
  }

  section.active {
    display: block;
    opacity: 1;
    animation: fade-in 1s;
  }

  h2 {
    padding-block: var(--gap3);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: var(--title-fg);
  }

  .name {
    font: 600 1.1rem/1.8 Inter, sans serif;
    color: var(--title-fg);
  }

  .org, .time {
    line-height: 1.8;
  }

  .org {
    color: var(--subtitle-fg);
  }

  .time {
    font-size: 0.9rem;
  }
}

[aria-label='Main'] {
  grid-area: menu;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: auto;
  height: 100vh;
}

@media (width <= 960px) {
  #app {
    grid-template-areas: 'main' 'menu';
    grid-template-columns: 1fr auto;
    gap: 0;
    height: 100vh;
  }

  main {
    min-width: 100%;
    padding: 0 var(--gap2) 72px;

    section {
      display: none;
      position: relative;
      width: auto;
      height: auto;
      margin-bottom: 0;
    }

    section.active {
      display: block;
    }

    h2 {
      padding-block: var(--gap2);
    }
  }

  [aria-label='Main'] {
    position: fixed;
    top: auto;
    bottom: 0;
    display: flex;
    align-items: center;
    min-width: 100%;
    height: 56px;
    background: var(--nav-bg);
    z-index: 1;
  }

  [aria-label='Controls'] {
    display: none;
  }
}
