#logo a {
  display: flex;
  align-items: center;
  padding: var(--gap3);
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1;
  color: var(--logo-fg);
}

#menu {
  & i {
    display: none;
  }

  .name {
    display: flex;
    transition: all 0.2s;
  }

  .ripple {
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: var(--menu-ripple-bg);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple .8s linear;
    opacity: .4;
  }
}

#menu a {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 56px;
  padding: 0 var(--gap3);
  line-height: 1;
  color: var(--menu-fg);

  &:hover {
    background: var(--menu-bg-hover);
    color: var(--menu-fg-hover);
  }

  &:active, &.active {
    background: var(--menu-bg-active);
    color: var(--menu-fg-active);
    transform: translate3d(0, 1px, 0);
    transition: none;
  }

  &:hover, &:active, &.active {
    transform: translate3d(4px, 0, 0);
  }
}

#social {
  display: flex;
  gap: 8px;
  margin: 16px;
  line-height: 0;
}

@media (width <= 960px) {
  #logo, #menu li:has(a[href='#services']), #menu li:has(a[href='#education']), #social {
    display: none;
  }

  #menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    direction: rtl;
    min-width: 100%;

    & i {
      display: block;
      margin-bottom: 6px;
      text-align: center;
      font-size: 18px;
    }

    .name {
      font-size: 13px;
    }

    .ripple {
      position: absolute;
      top: 0;
      left: 0;
      width: 8px;
      height: 8px;
      background: var(--menu-ripple-bg);
      border-radius: 50%;
      transform: scale(0);
      animation: ripple 0.8s linear;
      opacity: 0.4;
    }
  }

  #menu li {
    display: flex;
    place-items: center;
    flex-grow: 1;
  }

  #menu a {
    display: flex;
    place-items: center;
    flex-grow: 1;
    padding: 0;

    &:hover, &:active, &.active {
      transform: none;
    }
  }
}
