#content {
  section {
    display: none;
    opacity: 0;

    > div > div {
      margin-bottom: var(--size-4);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  section.active {
    display: block;
    opacity: 1;
    animation: fade-in 1s;
  }

  .title {
    padding-block: var(--size-4);
    font: 600 2rem/1 'Poppins', system-ui, sans-serif;
    text-transform: uppercase;
    color: var(--title-fg);
  }

  .name {
    font: 600 1.1rem/1.8 Inter, sans serif;
    color: var(--title-fg);
  }

  .org, .time {
    line-height: 1.8;
  }

  .org {
    color: var(--subtitle-fg);
  }

  .time {
    font-size: 0.9rem;
  }
}

.dark #content img {
  filter: brightness(.8) contrast(1.2);
}

/* about */

#about {
  .avatar {
    display: block;
  }

  .description {
    padding-block: 16px;
  }
}

/* skills  */

#skills {
  .name {
    margin-bottom: 8px;
  }

  .skills {
    margin-bottom: 24px;

    &:last-child {
      margin: 0;
    }

    &:hover {
      cursor: default;
    }
  }

  .skill {
    display: inline-block;
    margin: 0 var(--size-3) var(--size-3) 0;
    padding: 4px 12px;
    background: var(--neutral-95);
    color: var(--neutral-40);
  }
}

.dark {
  #skills {
    .skill {
      background: var(--neutral-25);
      color: var(--neutral-90);
    }
  }
}

.contrast {
  #skills {
    .skill {
      background: white;
      color: black;
      border-bottom: 2px solid currentcolor;
      min-width: 140px;
      padding: 0;
    }
  }
}

.dark.contrast {
  #skills {
    .skill {
      background: black;
      color: white;
      border-color: currentcolor;
    }
  }
}