/* about */

#about {
  .avatar {
    display: block;
  }

  .description {
    padding-block: 16px;
  }
}

/* services */

#services{
  .service {
    margin-bottom: 32px;
  }
}

/* skills  */

#skills {
  .name {
    margin-bottom: 8px;
  }

  .skills {
    margin-bottom: 24px;

    &:last-child {
      margin: 0;
    }

    &:hover {
      cursor: default;
    }
  }

  .skill {
    display: inline-block;
    margin: 0 var(--gap2) var(--gap2) 0;
    padding: 4px 12px;
    background: var(--neutral95);
    color: var(--neutral40);
  }
}

.dark {
  #skills {
    .skill {
      background: var(--neutral25);
      color: var(--neutral90);
    }
  }
}

.contrast {
  #skills {
    .skill {
      background: white;
      color: black;
      border-bottom: 2px solid currentcolor;
      min-width: 140px;
      padding: 0
    }
  }
}

.dark.contrast {
  #skills {
    .skill {
      background: black;
      color: white;
      border-color: currentcolor;
    }
  }
}

@media (max-width: 960px) {
  .skill {
    padding: 8px 18px;
  }
}

