main {
  section > div {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
  }

  .title {
    padding-block: var(--size-4);
    font-size: 2rem;
    line-height: 1;
    text-transform: uppercase;
    color: var(--title-fg);
  }

  .name {
    color: var(--title-fg);
  }

  .name, .org, .time {
    line-height: 1.8;
  }

  .time {
    font-size: 0.9rem;
  }
}

/* about */

#sobre {
  .avatar {
    display: block;
    border-radius: var(--border-radius);
    transition: all .2s;
  }

  .description {
    padding-block: var(--size-3);
  }
}

/* skills  */

.skills {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-2);
  }

  .name {
    margin-bottom: var(--size-2);
  }

  .skill {
    flex: auto 0 0;
    padding: 4px 12px;
    background: var(--neutral-95);
    color: var(--neutral-40);
    border-radius: var(--border-radius);
  }
}


@media(width <= 720px) {
  main {
    section {
      display: none;
      position: relative;
      width: auto;
      height: auto;
      margin-bottom: 0;
      border-top: 1px solid var(--section-border-color);
    }

    section[aria-current='true'] {
      display: block;
    }

    section > div {
      gap: 0;
    }

    .title {
      padding-block: var(--size-4) 0;
      font-size: 1.5rem;
    }

    section:first-child .title {
      padding-block: var(--size-4);
    }

    article {
      padding-block: var(--size-4);
      border-bottom: 1px solid var(--section-border-color);

      &:last-child {
        padding-bottom: var(--size-3);
        border-bottom: none;
      }
    }

    .name, .org, .time {
      line-height: 1.5;
    }
  }
}

[data-theme='dark'] {
   main img {
    filter: brightness(.8) contrast(1.2);
  }

  .skills {
    .skill {
      background: var(--neutral-25);
      color: var(--neutral-90);
    }
  }
}

[data-theme='contrast'] {
  .skills {
    .skill {
      background: white;
      color: black;
      min-width: 140px;
      padding: 0;
    }
  }
}

.dark.contrast {
  .skills {
    .skill {
      background: black;
      color: white;
      border-color: currentcolor;
    }
  }
}
