.animation {
  will-change: transform;
  animation-fill-mode: forwards;
}

.fade-in {
  animation: fade-in;
}

.fade-out {
  animation: fade-out;
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

[date-contrast='more'] {
  a {
    animation: none;
    transition: none;
  }
}

@media(width <= 720px) {
  a {
    animation: none;
    transition: none;
  }
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  *, ::before, ::after {
    animation: none;
    transition: none;
  }
}
