@font-face {
  src: local('Inter-Medium.woff2'),
  url(../fonts/Poppins-SemiBold.woff2) format('woff2');
  font-family: 'Poppins SemiBold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  src: local('Inter'),
  url(../fonts/Inter-Medium.woff2) format('woff2');
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--body-fg) transparent;
}

body {
  background: var(--body-bg);
  font: 500 1rem/1.5 Inter, system-ui, sans-serif;
  color: var(--body-fg);
  transition: all .2s;
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--scroll-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-bg);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-bg-hover);
}

::-webkit-scrollbar-thumb:active {
  background: var(--scroll-thumb-bg-active);
}

mark, ::selection, ::search-text:current {
  background: var(--selection-bg);
  color: var(--selection-fg);
}

:focus-visible {
  outline: var(--outline-width-focus) solid var(--outline-color-focus);
}

:focus:not(:focus-visible) {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins SemiBold', system-ui, sans-serif;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--primary-70);
  transition: all 0.2s;
}
