#logo {
  font: 600 2rem/1 'Poppins-SemiBold', system-ui, sans-serif;
  text-transform: uppercase;

  a {
    display: flex;
    align-items: center;
    padding: var(--size-3);
    color: var(--logo-fg);
  }
}

#menu {
  scroll-target-group: auto;
}

#menu a {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0 var(--size-2);
  height: 56px;
  padding: 0 var(--size-3);
  line-height: 1;
  color: var(--menu-fg);
  transition: all .2s;
  will-change: all;

  &:hover {
    background: var(--menu-bg-hover);
    color: var(--menu-fg-hover);
  }

  /* falhando com target current js resolveu */
  /* &:active, &:target-current, &.active { */
  &:active, &.active {
    background: var(--menu-bg-active);
    color: var(--menu-fg-active);
    transform: translate(0, 1px);
  }

  &:hover, &:active, &.active {
    transform: translate(var(--size-1), 0);
  }

  &:focus-visible {
    transition: none;
  }

  .icon {
    display: none;
    width: var(--size-3);
    height: var(--size-3);
    fill: currentcolor;
  }

  .name {
    display: flex;
  }

  .ripple {
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: var(--menu-ripple-bg);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple .8s linear;
    opacity: .4;
  }
}

#social {
  ul {
    display: flex;
    gap: var(--size-2);
    line-height: 0;
  }

  span {
    display: none;
  }
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 1.5rem;
  background: var(--btn-bg);
  border: none;
  border-radius: var(--radius);
  color: var(--btn-fg);

  &:hover {
    cursor: pointer;
    background: var(--btn-hover-bg);
    color: var(--btn-hover-fg);
  }

  &:active {
    background: var(--btn-active-bg);
    color: var(--btn-active-fg);
    transform: translate3d(0, 1px, 0);
    transition: none;
  }

  &:focus-visible {
    transition: none;
  }

  .icon {
    width: 24px;
    height: 24px;
    fill: currentcolor;
  }
}

.contrast {
  #logo a, #menu a {
    border: 3px solid var(--menu-fg);
    margin-block: var(--size-2);
    transition: none;
    transform: none;

    &:hover, &:focus-visible {
      background: var(--menu-bg-hover);
      border-color: var(--menu-bg-hover);
      color: var(--menu-fg-hover);
    }

    &:active, &.active {
      background: var(--menu-bg-active);
      border-color: var(--menu-bg-active);
      color: var(--menu-fg-active);

      &:focus-visible {
        outline: var(--contrast-border) solid var(--menu-bg-active);
      }
    }

    &:focus-visible {
      border-color: currentcolor;
      outline: var(--contrast-border) solid var(--menu-bg-hover);
    }
  }

  .btn-icon {
    border: var(--contrast-border) solid currentcolor;

    &:hover {
      border-color: var(--btn-hover-bg);
    }

    &:active {
      border-color: var(--btn-active-bg);
    }

    &:focus-visible {
      background: var(--btn-hover-bg);
      border-color: currentcolor;
      outline: var(--contrast-border) solid var(--btn-hover-bg);
      color: var(--btn-hover-fg);
    }
  }
}

@media(width <= 720px) {
  #nav-main {
    padding: 0;
    border-top: 1px solid var(--nav-border);

    header,
    footer,
    #menu li:has(a[href='#services']),
    #services,
    #menu li:has(a[href='#education']),
    #education {
      display: none;
    }

    nav {
      flex: 1;
    }
  }


  #menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 100%;
  }

  #menu li {
    display: flex;
    place-items: center;
    flex-grow: 1;
  }

  #menu a {
    flex-direction: column;
    place-content: center;
    flex-grow: 1;
    gap: var(--size-2);
    padding: 0;
    border-top: 3px solid transparent;
    transition: all .3s;
    -webkit-tap-highlight-color: rgba(255 255 255 / .1);

    &:hover, &:active, &.active {
      transform: none;
    }

    i {
      display: block;
      margin-bottom: 6px;
      text-align: center;
      font-size: 18px;
    }

    &.active {
      border-color: currentcolor;
    }

    .icon {
      display: block;
    }

    .name {
      font-size: 13px;
    }

    .ripple {
      position: absolute;
      top: 0;
      left: 0;
      width: 8px;
      height: 8px;
      background: var(--menu-ripple-bg);
      border-radius: 50%;
      transform: scale(0);
      animation: ripple 0.8s linear;
      opacity: 0.4;
    }
  }
}

@media (width <= 320px) {
  #menu a .name {
    display: none;
  }
}
