@page {
  size: a4 portrait;
  margin: .25cm 1cm;
}

:root {
  --font-size: 11pt;
  --size-1: .25cm;
  --size-2: .5cm;
  --size-3: 1cm;
  --size-4: 1.5cm;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: var(--font-size)/1.5 system-ui, sans-serif;
  background: white;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

input, button {
  display: none;
}

#nav-main {
  nav, #social {
    display: none;
  }
}

h1 {
  margin-block: var(--size-2) var(--size-1);
  text-transform: uppercase;
  font-size: 18pt;
}

h2 {
  text-transform: uppercase;
  padding-block-start: var(--size-2);
}

main {
  #sobre {
    display: none;
  }

  .avatar {
    width: 3cm;
    height: 4cm;
    object-fit: cover;
    object-position: center;
  }
}

section {
  border-bottom: 1pt solid black;

  &:last-child {
    border: none;
  }

  > div {
    display: grid;
    gap: var(--size-2);
    grid-template-columns: 1fr 1fr 1fr;
    margin-block: var(--size-2);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  li {
    margin-inline-end: .1cm;
  }

  li::after {
    content: ',';
  }

  li:last-child:after {
    content: '';
  }
}

#certificacoes {
  break-after: always;
  border: none;
}
