:root {
  color-scheme: light;
  --border-radius: 4px;

  /* sizes */
  --size-1: .25rem; /* 4px */
  --size-2: .5rem;  /* 8px */
  --size-3: 1rem;   /* 16px */
  --size-4: 2rem;   /* 32px */

  /* media size */
  --media-width-xm: 480px;
  --media-width-sm: 600px;
  --media-width-md: 720px;
  --media-width-lg: 960px;
  --media-width-xl: 1280px;

  /* neutral chroma and hue */
  --neutral-c: .01;
  --neutral-h: 250;

  /* neutral scale */
  --neutral-5: oklch(5% var(--neutral-c) var(--neutral-h));
  --neutral-10: oklch(10% var(--neutral-c) var(--neutral-h));
  --neutral-15: oklch(15% var(--neutral-c) var(--neutral-h));
  --neutral-20: oklch(20% var(--neutral-c) var(--neutral-h));
  --neutral-25: oklch(25% var(--neutral-c) var(--neutral-h));
  --neutral-30: oklch(30% var(--neutral-c) var(--neutral-h));
  --neutral-35: oklch(35% var(--neutral-c) var(--neutral-h));
  --neutral-40: oklch(40% var(--neutral-c) var(--neutral-h));
  --neutral-45: oklch(45% var(--neutral-c) var(--neutral-h));
  --neutral-50: oklch(50% var(--neutral-c) var(--neutral-h));
  --neutral-55: oklch(55% var(--neutral-c) var(--neutral-h));
  --neutral-60: oklch(60% var(--neutral-c) var(--neutral-h));
  --neutral-65: oklch(65% var(--neutral-c) var(--neutral-h));
  --neutral-70: oklch(70% var(--neutral-c) var(--neutral-h));
  --neutral-75: oklch(75% var(--neutral-c) var(--neutral-h));
  --neutral-80: oklch(80% var(--neutral-c) var(--neutral-h));
  --neutral-85: oklch(85% var(--neutral-c) var(--neutral-h));
  --neutral-90: oklch(90% var(--neutral-c) var(--neutral-h));
  --neutral-95: oklch(95% var(--neutral-c) var(--neutral-h));

  /* primary chroma and hue */
  --primary-c: 0.15;
  --primary-h: 240;

  /* primary scale */
  --primary-10: oklch(10% var(--primary-c) var(--primary-h));
  --primary-15: oklch(15% var(--primary-c) var(--primary-h));
  --primary-20: oklch(20% var(--primary-c) var(--primary-h));
  --primary-25: oklch(25% var(--primary-c) var(--primary-h));
  --primary-30: oklch(30% var(--primary-c) var(--primary-h));
  --primary-35: oklch(35% var(--primary-c) var(--primary-h));
  --primary-40: oklch(40% var(--primary-c) var(--primary-h));
  --primary-45: oklch(45% var(--primary-c) var(--primary-h));
  --primary-50: oklch(50% var(--primary-c) var(--primary-h));
  --primary-55: oklch(55% var(--primary-c) var(--primary-h));
  --primary-60: oklch(60% var(--primary-c) var(--primary-h));
  --primary-65: oklch(65% var(--primary-c) var(--primary-h));
  --primary-70: oklch(70% var(--primary-c) var(--primary-h));
  --primary-75: oklch(75% var(--primary-c) var(--primary-h));
  --primary-80: oklch(80% var(--primary-c) var(--primary-h));
  --primary-85: oklch(85% var(--primary-c) var(--primary-h));
  --primary-90: oklch(90% var(--primary-c) var(--primary-h));
  --primary-95: oklch(95% var(--primary-c) var(--primary-h));

  /* body */
  --body-bg: white;
  --body-fg: var(--neutral-50);

  /* scroll */
  --scroll-bg: var(--neutral-90);
  --scroll-thumb-bg: var(--neutral-75);
  --scroll-thumb-bg-hover: var(--neutral-70);
  --scroll-thumb-bg-active: var(--neutral-60);

  /* selection */
  --selection-bg: var(--primary-85);
  --selection-fg: var(--neutral-50);

  /* focus */
  --outline-width-focus: 3px;
  --outline-color-focus: var(--primary-70);

  /* nav */
  --nav-bg: white;
  --nav-border-color: var(--neutral-90);
  --menu-fg: var(--neutral-50);
  --menu-bg-hover: var(--neutral-95);
  --menu-fg-hover: var(--primary-50);
  --menu-bg-active: var(--neutral-95);
  --menu-fg-active: var(--primary-50);
  --menu-ripple-bg: var(--neutral-90);

  /* button */
  --btn-bg: var(--neutral-95);
  --btn-fg: var(--neutral-60);
  --btn-bg-hover: var(--primary-65);
  --btn-fg-hover: white;
  --btn-bg-active: var(--primary-70);
  --btn-fg-active: white;

  /* main */
  --section-border-color: var(--neutral-90);

  .dark {
    color-scheme: dark;

    /* body */
    --body-bg: var(--neutral-20);
    --body-fg: var(--neutral-90);

    /* scroll */
    --scroll-bg: var(--neutral-30);
    --scroll-thumb-bg: var(--neutral-40);
    --scroll-thumb-bg-hover: var(--neutral-50);
    --scroll-thumb-bg-active: var(--neutral-40);

    /* selection */
    --selection-bg: var(--primary-70);
    --selection-fg: var(--neutral-20);

    /* focus */
    --outline-color-focus: var(--primary-70);

    /* nav */
    --nav-bg: var(--neutral-20);
    --nav-border-color: var(--neutral-30);
    --menu-fg: var(--neutral-90);
    --menu-bg-hover: var(--neutral-25);
    --menu-fg-hover: var(--primary-70);
    --menu-bg-active: var(--neutral-25);
    --menu-fg-active: var(--primary-70);
    --menu-ripple-bg: var(--neutral-70);

    /* button */
    --btn-bg: var(--neutral-25);
    --btn-fg: var(--neutral-90);
    --btn-bg-hover: var(--primary-55);
    --btn-fg-hover: white;
    --btn-bg-active: var(--primary-60);
    --btn-fg-active: white;

    /* main */
    --section-border-color: var(--neutral-30);
  }

  .contrast {
    a {
      transition: none;
    }

    /* body */
    --body-bg: white;
    --body-fg: black;

    /* scroll */
    --scroll-bg: var(--neutral-85);
    --scroll-thumb-bg: black;
    --scroll-thumb-bg-hover: blue;
    --scroll-thumb-bg-active: purple;

    /* selection */
    --selection-bg: blue;
    --selection-fg: white;

    /* focus */
    --outline-color-focus: blue;

    /* nav */
    --nav-bg: white;
    --nav-border-color: black;

    /* menu */
    --menu-fg: black;
    --menu-bg-hover: blue;
    --menu-fg-hover: white;
    --menu-bg-active: purple;
    --menu-fg-active: white;
    --menu-ripple-bg: transparent;

    /* button */
    --btn-bg: white;
    --btn-fg: black;
    --btn-bg-hover: blue;
    --btn-fg-hover: white;
    --btn-bg-active: purple;
    --btn-fg-active: white;

    /* main */
    --section-border-color: black;
  }

  .dark.contrast {
    /* body */
    --body-bg: black;
    --body-fg: white;

    /* scroll */
    --scroll-bg: var(--neutral-30);
    --scroll-thumb-bg: white;
    --scroll-thumb-bg-hover: aqua;
    --scroll-thumb-bg-active: yellow;

    /* selection */
    --selection-bg: yellow;
    --selection-fg: black;

    /* focus */
    --outline-color-focus: cyan;

    /* nav */
    --nav-bg: black;
    --nav-border-color: white;

    /* menu */
    --menu-fg: white;
    --menu-bg-hover: aqua;
    --menu-fg-hover: black;
    --menu-bg-active: yellow;
    --menu-fg-active: black;

    /* button */
    --btn-bg: black;
    --btn-fg: white;
    --btn-bg-hover: aqua;
    --btn-fg-hover: black;
    --btn-bg-active: yellow;
    --btn-fg-active: black;

    /* main */
    --section-border-color: white;
  }
}
