<div id='color-control' aria-label='Controle de cores'>
  <button class='btn-icon btn-color-scheme' aria-label='Alterar para tema escuro'>
    <svg class='icon icon-moon' aria-hidden='true' focusable='false' style='max-width: 24px; max-height: 24px; fill: currentcolor'>
      <use href='#icon-moon'></use>
    </svg>
  </button>
  <button class='btn-icon btn-contrast-control' aria-label='Ativar alto contraste'>
    <svg class='icon icon-contrast' aria-hidden='true' focusable='false' style='max-width: 24px; max-height: 24px; fill: currentcolor'>
      <use href='#icon-contrast'></use>
    </svg>
  </button>
</div>
