{% set data = load_data(path='data/education.toml') %}

<section id='formacao'>
  <h2 class='title'>{{ data.title | safe }}</h2>
  <div class='educations'>
    {% for key in data.education %}
      <article class='education'>
        <h3 class='name'>{{ key.name | safe }}</h3>
        <div class='org'>{{ key.org_name | safe }} </div>
        <div class='time'>
          <time datetime='{{ key.year_start | safe }}'>{{ key.year_start | safe }}</time> -
          <time datetime='{{ key.year_end | safe }}'>{{ key.year_end | safe }}</time>
        </div>
      </article>
    {% endfor %}
  </div>
</section>
