{% set data = load_data(path='data/education.toml') %}

<section id='formacao'>
  <h2 class='title'>{{ data.title | safe }}</h2>
  <ul>
    {% for key in data.education %}
      <li>
        <article>
          <h3 class='name'>{{ key.name | safe }}</h3>
          <div class='org'>{{ key.org_name | safe }}</div>
          <div class='time'>
            <time datetime='{{ key.year_start | safe }}' aria-label='Inicei no ano de'>{{ key.year_start | safe }}</time>
            <span aria-hidden='true'> - </span>
            <time datetime='{{ key.year_end | safe }}' aria-label='Finalizando no ano de'>{{ key.year_end | safe }}</time>
          </div>
        </article>
      </li>
    {% endfor %}
  </ul>
</section>
