---
import 'data/skills.md';
---

<section id="skills">
  <h2 class="title">${title}</h2>
  <div>
    <div>
      <h3 class="name">Sistemas Operacionais</h3>
      <ul class="skills">
        ${for(sos)}
          <li class="skill">${sos.name}</li>
        ${endfor}
      </ul>
    </div>

    <div>
      <h3 class="name">Softwares</h3>
      <ul class="skills">
        ${for(softwares)}
          <li class="skill">${softwares.name}</li>
        ${endfor}
      </ul>
    </div>

    <div>
      <h3 class="name">Linguagens</h3>
      <ul class="skills">
        ${for(languages)}
          <li class="skill">${languages.name}</li>
        ${endfor}
      </ul>
    </div>

    <div>
      <h3 class="name">Sistemas</h3>
      <ul class="skills">
        ${for(systems)}
          <li class="skill">${systems.name}</li>
        ${endfor}
      </ul>
    </div>

    <div>
      <h3 class="name">Acessibilidade</h3>
      <ul class="skills">
        ${for(accessibles)}
          <li class="skill" v-for="accessible in skills.accessibles" :key="accessible.name">${accessibles.name}</li>
        ${endfor}
      </ul>
    </div>
  </div>
</section>
