<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Site pessoal do Vitor Melo.">
  <meta name="theme-color" content="#13161a">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vitor Melo</title>
  <link rel="icon" type="image/svg+xml" href="/icons/favicon.png">
  <link rel="stylesheet" fetchpriority="high" href="/css/theme.css">
  <link rel="stylesheet" fetchpriority="high" href="/css/reset.css">
  <link rel="stylesheet" fetchpriority="high" href="/css/layout.css">
  <link rel="stylesheet" fetchpriority="high" href="/css/nav.css">
  <link rel="stylesheet" fetchpriority="high" href="/css/sections.css">
  <link rel="stylesheet" fetchpriority="high" href="/css/animation.css">
  <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" fetchpriority="low" href="/fonts/Poppins-SemiBold.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" fetchpriority="low" href="/fonts/Inter-Medium.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" fetchpriority="low" href="/fonts/Inter-SemiBold.woff2">
  <script defer type="module" src="/js/main.js"></script>
</head>
<body>
  {% include 'partials/icons.html' %}
  <div id="app">
    <nav id="nav-main" aria-label="Main">
      {% include 'partials/logo.html' %}
      {% include 'partials/nav.html' %}
      {% include 'partials/social.html' %}
    </nav>
    <main id="content">
      {% include 'partials/about.html' %}
      {% include 'partials/experiences.html' %}
      {% include 'partials/education.html' %}
      {% include 'partials/certifications.html' %}
      {% include 'partials/services.html' %}
      {% include 'partials/skills.html' %}
    </main>
    <nav id="nav-controls" aria-label="Controls">
      {% include 'partials/section-control.html' %}
      {% include 'partials/color-control.html' %}
    </nav>
  </div>
</body>
</html>
