{% include "./components/header.njk" %}
{% include "./components/nav.njk" %}
{% include "./components/about.njk" %}
{% include "./components/services.njk" %}
{% include "./components/portfolio.njk" %}
{% include "./components/education.njk" %}
{% include "./components/certifications.njk" %}
{% include "./components/skills.njk" %}
{% include "./components/experiences.njk" %}
{% include "./components/social.njk" %}
{% include "./components/footer.njk" %}