//
// Variables
// --------------------------------------------------

//
// Paths
// --------------------------------------------------

$path-img: 'img';
$path-fonts: 'fonts';

//
// Colors
// --------------------------------------------------

$color-base: #444;
$color-primary: #1ca379;
