<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#13161a">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Site pessoal do Vitor Melo.">
  <title>Vitor Melo</title>
  <link rel="icon" type="image/svg+xml" href="assets/icons/favicon.png">
  <link rel="stylesheet" href="assets/css/style.css">
  <script defer type="module" src="assets/js/main.js"></script>
</head>
<body>
  <include src="includes/icons.html">

  <div id="app">
    <nav id="nav-main" aria-label="Main">
      <include src="includes/logo.html">
      <include src="includes/nav.html">
      <include src="includes/social.html">
    </nav>

    <main id="content">
      <include src="includes/about.html">
      <include src="includes/experiences.html">
      <include src="includes/education.html">
      <include src="includes/certifications.html">
      <include src="includes/services.html">
      <include src="includes/skills.html">
    </main>

    <nav id="nav-controls" aria-label="Controls">
      <include src="includes/page-control.html">
      <include src="includes/color-control.html">
    </nav>
  </div>
</body>
</html>
