<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#121212">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vitor Melo</title>
  <link rel="icon" type="image/svg+xml" href="assets/icons/favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/page-control.js"></script>
  <script defer src="js/color-control.js"></script>
</head>
<body>
  <include src="includes/icons.html">

  <div id="app">
    <nav id="nav-main" aria-label="Main">
      <include src="includes/logo.html">
      <include src="includes/nav.html">
      <include src="includes/social.html">
    </nav>

    <main>
      <include src="includes/about.html">
      <include src="includes/experiences.html">
      <include src="includes/education.html">
      <include src="includes/certifications.html">
      <include src="includes/services.html">
      <include src="includes/skills.html">
    </main>

    <nav id="nav-controls" aria-label="Controls">
      <include src="includes/page-control.html">
      <include src="includes/color-control.html">
    </nav>
  </div>
</body>
</html>
